# Node.js dependencies
backend/node_modules/
backend/guides.txt/
backend/.env

frontend/websocket-chat/node_modules/
frontend/websocket-chat/guides.txt/

# Build directories
backend/dist/
backend/build/
frontend/websocket-chat/dist/
frontend/websocket-chat/build/
